@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 2px;
    height: 5px;
    
}
::-webkit-scrollbar-track{
  background:gray;
}
::-webkit-scrollbar-thumb{
    background: black;
    height: 10px;
    
}
::-webkit-scrollbar-button{
    
    height: 10px;
}